@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  max-width: 100vw;
  background-color: white;
}

.titles {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4rem;
}

@media (max-width: 768px) {
  .titles {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
