---
import { Image } from 'astro:assets';
import { getLocale } from '../../../i18n/i18n';
import esCommon from '../../../locales/es/common.json';
import enCommon from '../../../locales/us/common.json';

export interface Props {
  title: string;
  images: Array<{
    id: string;
    desktop: string;
    mobile: string;
    alt: string;
    title: string;
    description: string;
    link: string;
  }>;
}

const { title, images } = Astro.props;
const locale = getLocale() || 'es';

// Get Instagram posts from locale
const instagramPosts = locale === 'es' 
  ? esCommon.home.socialmedia.instagramPosts
  : enCommon.home.socialmedia.instagramPosts;
---

<div class="box-border flex flex-col gap-12 items-left justify-center container mx-auto  py-0 relative w-full text-center ">

  <div class="max-w-6xl grid grid-cols-2 md:grid-cols-4 gap-6 md:gap-8 w-full">
    {instagramPosts.map((post: any) => (
      <div class="w-full overflow-hidden rounded-xl">
        <iframe
          src={post.embedUrl}
          class="w-full h-[380px] sm:h-[380px] md:h-[370px] lg:h-[500px] rounded-md"
          allowtransparency="true"
          allowfullscreen
          frameborder="0"
          scrolling="no"
        ></iframe>
        <a href={post.postUrl} class="bg-red text-white px-4 py-2 rounded-lg block text-center mt-2" target="_blank" rel="noopener noreferrer">
          {locale === 'es' ? 'Ver post' : 'View post'}
        </a>
      </div>
     
    ))}
  </div>
</div>
